* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  height: 1600px;
  font-family: "Nunito", sans-serif;
}

/* NAVIGÁCIÓ ---------------------------- */

.main-menu-item {
  justify-content: center;
  align-items: center;
  font-family: 'Great Vibes', cursive;
  width: 340px;
  text-shadow: 2px 2px 0px  #000000, -2px -2px 0px  #d400ff, 2px -2px 0px  #9400a4b9, -2px 2px 0px  #000000;
  display: block;
  text-decoration: none;
  list-style-type: none;
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 800;
  border-radius: 30px;
  margin-left: 50px;
}

.ul-mobile {
  display: none;
}

nav {
  background-color: #f4b20a;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.668);
}

.nav-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  height: 100%;
  width: 100%;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 12px;
}

.nav-active {
  background-color: #f4b20a;
  box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.838);
}

.menu-links-active {
  color: rgb(0, 0, 0);
}

.menu-links-active:hover {
  color: #ffffff;
}

nav ul li {
  padding: 20px;
  
  align-items: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 800;
  z-index: 10;
  transition: 0.2s ease-out;
  padding: 0px 10px;
  margin: 4px;

}

nav ul li a:hover {
  color: #ffffff;
  
}

/* DROPDOWN ---------------------------- */

/* nav ul li:nth-child(1) {
  background-color: rgba(244, 178, 10, 0.181);
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 32px;
  left: -20px;
  background-color: #f4b20a;
  width: 280px;
  box-shadow: 0px 20px 20px 0px rgba(30, 30, 30, 0.349);
  border-radius: 10px;
  padding: 0px 10px;
  z-index: 1;
}

.dropdown-content p {
  padding: 0px 0px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 18px;
}

.dropdown-a:hover {
  color: #ffffff;
}

.dropdown-scrolled {
  background-color: #f4b20a;
}

.dropdown-links-active {
  color: rgb(0, 0, 0) !important;
}

.dropdown-links-active:hover {
  color: #ffffff !important;
}

/* HAMBURGER ---------------------------- */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer; 
  width: 40px;
  height: 40px;
}

.line-1,
.line-2,
.line-3 {
  width: 40px;
  height: 4px;
  margin-right: 40px;
  border-radius: 50px;
  background-color: white;
  transition: all .3s ease;
}

.line-1-active {
  transform: rotate(-45deg) translateY(8px);
}

.line-2-active {
  display: none;
}

.line-3-active {
  transform: rotate(45deg) translateY(-8px);;
}

/* TARTALOM --------------------------- */

#main {
  box-shadow: 0px 0px 30px rgba(14, 14, 14, 0.189);
  display: flex;
  margin-top: 160px;
}

h2 {
  color: #392687;
  font-size: 42px;
  font-weight: 800;
  margin: 20px 0px 10px 0px;
}

h3 {
  color: rgb(113, 113, 113);
  font-size: 22px;
  font-weight: 700;
}

 #main p {
  color: rgb(42, 42, 42);
  font-weight: 400;
  font-size: 18px;
  margin: 30px 40px 0px 0px;
}

h4 {
  color: rgb(87, 87, 87);
  font-size: 16px;
  margin: 20px 0;
  font-style: italic;
  font-weight: 600;
}

h5 {
  color: rgb(39, 39, 39);
  font-size: 18px;
  
  font-weight: 600;
}

div.img {
  background-color: #eeeeee;
  width: 50%;
  height: 100%;
}

.hotel-img {
  display: block;
  width: 100%;
  height: 100%;
}

.content-text {
  background-color: #ffffff;
  width: 50%;
  padding: 30px;
}

#collage {
  margin: 100px 0;
  width: 100%;

}

.collage {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #d4d4d4;
  grid-gap: 10px;
}



#inside,
#inside2,
#inside3,
#inside4,
#inside5,
#inside6,
#inside7,
#inside8,
#inside9,
#inside10,
#inside11,
#inside12 {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  opacity: 0;
  animation-fill-mode: forwards;
}

#inside{
  grid-column: 5/7;
  grid-row: 1/2;
}

#inside2{
  grid-column: 1/5;
  grid-row: 1/3;
}

#inside3 {
  grid-column: 7/9;
  grid-row: 1/2;
}

#inside4 {
  grid-column: 5/7;
  grid-row: 2/3;
}

#inside5 {
  grid-column: 7/9;
  grid-row: 2/3;
}

#inside6 {
  grid-row: 3/5;
  grid-column: 9/13;
}

#inside7 {
  grid-column: 1/5;
  grid-row: 3/5;
}

#inside8 {
  grid-column: 9/13;
  grid-row: 1/3;
}

#inside9 {
  grid-column: 7/9;
  grid-row: 3/4;
}

#inside10 {
  grid-column: 7/9;
  grid-row: 4/5;
}

#inside11 {
  grid-column: 5/7;
  grid-row: 4/5;
}

#inside12 {
  grid-column: 5/7;
  grid-row: 3/4;
}

/* LÁBLÉC ---------------------------- */

footer {
  height: 120px;
  display: block;
  background: #f4b20a;
  border-top: 1px solid #bbbbbb00;
}

footer p {
  display: block;
  margin: 30px 0px 30px 30px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  word-spacing: 1.3px;
  color: rgb(0, 0, 0);
  text-align: center;
}

/* RESZPONZIVITÁS ---------------------------- */

@media (max-width: 1700px) {
  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  #main p {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
  }
  
  h5 {
    font-size: 18px;
  }
  
  div.img {
  }
  
  .hotel-img {
    width: 100%;
    /* border-radius: 0px 20px 20px 0px; */
  }
}
@media (max-width: 1500px) {
  #main {
    flex-direction: column;
  }

  div.img {
    width: 100%;
  }

  .content-text {
    width: 100%;
  }
}

@media (max-width: 1142px) {
  .line-1,
  .line-2,
  .line-3 {
    background-color: black;
  }

  nav {
    background-color: #f4b20a!important;
  }

  .ul-mobile {
    background-color: #f4b20a!important;
  }

  .border-mobile {
    background-color: #785600!important;
  }

  .collage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #d4d4d4;
    grid-gap: 10px;
  }

  #inside{
    grid-column: 7/13;
    grid-row: 9/11;
  }
  
  #inside2{
    grid-column: 1/7;
    grid-row: 1/3;
  }
  
  #inside3 {
    grid-column: 7/13;
    grid-row: 11/13;
  }
  
  #inside4 {
    grid-column: 1/7;
    grid-row: 5/7;
  }
  
  #inside5 {
    grid-column: 1/7;
    grid-row: 11/13;
  }
  
  #inside6 {
    grid-row: 3/5;
    grid-column: 7/13;
  }
  
  #inside7 {
    grid-column: 1/7;
    grid-row: 3/5;
  }
  
  #inside8 {
    grid-column: 7/13;
    grid-row: 1/3;
  }
  
  #inside9 {
    grid-column: 7/13;
    grid-row: 5/7;
  }
  
  #inside10 {
    grid-column: 1/7;
    grid-row: 9/11;
  }
  
  #inside11 {
    grid-column: 7/13;
    grid-row: 7/9;
  }
  
  #inside12 {
    grid-column: 1/7;
    grid-row: 7/9;
  }
}

@media (max-width: 800px) {
  .collage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-color: #d4d4d4;
    grid-gap: 10px;
  }

  #inside{
    grid-column: 1/1;
    grid-row: 1/2;
  }
  
  #inside2{
    grid-column:1/1;
    grid-row: 2/3;
  }
  
  #inside3 {
    grid-column:1/1;
    grid-row: 3/4;
  }
  
  #inside4 {
    grid-column:1/1;
    grid-row: 4/5;
  }
  
  #inside5 {
    grid-column:1/1;
    grid-row: 5/6;
  }
  
  #inside6 {
    grid-row: 6/7;
    grid-column:1/1;
  }
  
  #inside7 {
    grid-column:1/1;
    grid-row: 7/8;
  }
  
  #inside8 {
    grid-column:1/1;
    grid-row: 8/9;
  }
  
  #inside9 {
    grid-column:1/1;
    grid-row: 9/10;
  }
  
  #inside10 {
    grid-column:1/1;
    grid-row: 10/11;
  }
  
  #inside11 {
    grid-column:1/1;
    grid-row: 11/12;
  }
  
  #inside12 {
    grid-column:1/1;
    grid-row: 12/13;
  }
}


/* ANIMÁCIÓK ----------------- */

.slide_up {
  display: block;
  animation: slide_up 1s ease;
}

@keyframes slide_up {
  0% {
    transform: translateY(250px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}