@media (max-width: 1550px) {
    #story-1 {
        top: 100px;
        left: 60px;
        width: 540px;
    }
    
    #story-2 {
        top: 250px;
        left: 350px;
        width: 500px;
    }
}

@media (max-width: 1320px) {
    #story-1 {
        top: 100px;
        left: 20px;
        width: 400px;
    }
    
    #story-2 {
        top: 250px;
        left: 200px;
        width: 400px;
    }

    .quotes {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px 200px;
    }
    
    .customer-content {
        padding: 260px 120px 20px 120px;
    }
}


@media (max-width: 1100px) {

    #story-1 {
        display: inline-block;
        top: 40px;
        left: 50px;
        width: 35.5%;
    }
    
    #story-2 {
        display: inline-block;
        top: 40px;
        left: 400px;
        width: 48.5%;
    }

    .story-img {
        height: 340px;
    }

    .customer {
        display: block;
    }

    .customer-content {
        padding: 30px 40px 30px 100px;
    }
}