@media (max-width: 1500px) {
  .quotes {
    grid-template-columns: 400px 400px;
    grid-template-rows: 240px 240px 240px;
    column-gap: 100px;
    row-gap: 50px;
  }

  .header-container {
    width: 95%;
  }

  .header-left {
    margin-top: 120px;
    padding: 6rem;
  }

  .header-left h1 {
    font-size: 32px;
  }

  .header-left h2 {
    font-size: 24px;
  }

  .customer-right {
    padding: 20px 20px 20px 80px;
  }

  .customer-text h4 {
    font-size: 32px;
  }

  .customer-text p {
    font-size: 12px;
  }
}

@media (max-width: 1160px) {
  nav {
    background-color: #28176c;
    position: relative;
  }

  .main-menu-item {
    position: absolute;
    left: 1px;
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 22px;
    right: 22px;
  }

  .nav-container {
    justify-content: space-between;
  }

  .ul-desktop {
    display: none;
  }

  .ul-mobile {
    display: block;
  }

  .ul-mobile {
    flex-direction: column;
    position: absolute;
    background-color: #28176c;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 70px;
    gap: 1px;
    margin: 0;
    transition: all .3s ease;
    
  }

  .nav-active-responsive {
    left: 0;
  }

  .ul-mobile li a {
    color: rgb(255, 255, 255);
    font-size: 36px;
  }

  .dropdown-a {
    font-size: 22px;
  }

  .border-mobile {
    border: 2px solid rgb(255, 255, 255);
    background-color: #201357;
    border-radius: 30px;
  }

  header {
    height: 1100px;
  }

  .header-container {
    width: 95%;
    flex-direction: column;
  }

  .header-left {
    margin-top: 120px;
    padding: 3rem;
  }

  .header-left h1 {
    font-size: 28px;
  }

  .header-left h2 {
    font-size: 22px;
  }

  .header-right{
    margin: 0 auto;
    
  }
}

@media (max-width: 988px) {
  .quotes {
    grid-template-columns: 400px;
    grid-template-rows: 240px 240px 240px 240px 240px 240px;
    column-gap: 100px;
    row-gap: 50px;
    padding: 140px 0 120px 0;
  }

  .customer {
    flex-direction: column;
  }

  .customer-left {
    width: 100%;
  }

  .customer-right{
    width: 100%;
    padding: 50px 50px 50px 120px;
  }

  #story-img {
    width: 100%;
    scale: 100%;
    border-radius: 0;
  }

  .customer-text h4 {
    font-size: 32px;
  }

  footer p {
    font-size: 14px;
  }

}

@media (max-width: 700px) {

  header {
    height: 1200px;
  }

  .header-left {
    margin-top: 80px;
    padding: 1.5rem;
  }

  .header-left-btn {
    font-size: 14px;
  }

  .header-right {
    grid-template-columns: 100px 160px;
  }

  .customer-right {
    padding: 20px 20px 20px 20px;
  }
}

@media (max-width: 415px) {
  .hamburger {
    
  }

  .main-menu-item {
    font-size: 32px;
    width: 200px;
    left: -30px;
  }

  .header-left-btn {
    font-size: 12px;
  }

  .header-right {
    width: 100%;
    padding: 20px 20px;
    grid-template-columns: 90px 160px;
  }

  .quotes {
    grid-template-columns: 300px;
    grid-template-rows: 240px 240px 240px 240px;
    
  }

  .quotes div {
    padding: 16px;
    width: 100%;
  }

  .quotes p {
    font-size: 12px;
  }
}