/* MAIN COLORS */
/* #f4b20a #392687 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(233, 233, 233);
  font-family: "Nunito", sans-serif;
}

/* FŐBB ELEMEK -------------------------- */

.container {
  margin: 0 auto;
  width: 100%;
}

/* NAVIGÁCIÓ ---------------------------- */

.main-menu-item {
  text-shadow: 1px 1px rgb(0, 0, 0);
  display: inline-block;
  text-decoration: none;
  align-items: center;
  list-style-type: none;
  background-image: linear-gradient(to right, #a800c2, #3c008f);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 800;
  margin-left: 40px;
  border-radius: 30px;
  padding: 2px 12px;
}

.main-menu-item span {
  color: rgb(228, 0, 0);
  font-size: 36px;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

nav {
  display: flex;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
  z-index: 10;
}

nav ul {
  display: flex;
  height: 100%;
  width: 90%;
  text-decoration: none;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  gap: 12px;
}

.nav-active {
  background-color: #28176c;
  box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.838);
}

.menu-links-active {
  color: rgb(255, 255, 255);
}

.menu-links-active:hover {
  color: #f4b20a;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  z-index: 10;
  transition: 0.2s ease-out;
  padding: 0px 10px;
  margin: 4px;


}

nav ul li {
  padding: 20px;
}

nav ul li a:hover {
  color: #f4b20a;
}

/* DROPDOWN ---------------------------- */

/* nav ul li:nth-child(1) {
  background-color: rgba(244, 178, 10, 0.181);
} */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 32px;
  left: -20px;
  background-color: rgb(245, 245, 245);
  width: 280px;
  box-shadow: 0px 20px 20px 0px rgba(30, 30, 30, 0.349);
  border-radius: 10px;
  padding: 0px 10px;
  z-index: 1;
}

.dropdown-content p {
  padding: 0px 0px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: 18px;
}

.dropdown-a:hover {
  color: #f4b20a;
}

.dropdown-scrolled {
  background-color: #28176c;
}

.dropdown-links-active {
  color: rgb(255, 255, 255) !important;
}

.dropdown-links-active:hover {
  color: #f4b20a !important;
}

/* HAMBURGER ---------------------------- */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 8px;
  cursor: pointer; 
}

.line-1,
.line-2,
.line-3 {
  width: 40px;
  height: 4px;
  margin-right: 40px;
  border-radius: 50px;
  background-color: white;
  transition: all .3s ease;
}

.line-1-active {
  transform: rotate(-45deg) translateY(8px);
}

.line-2-active {
  display: none;
}

.line-3-active {
  transform: rotate(45deg) translateY(-8px);;
}

/* FEJLÉC ------------------------------- */

header {
  display: flex;
  background-color: #101d2c;
  width: 100%;
  height: 940px;
  background-image: linear-gradient(
      rgba(26, 26, 26, 0.498),
      rgba(15, 15, 15, 0.599)
    ),
    url(../img/bg8.jpg);
  background-size: cover;
  background-position: center;
}

.header-left {
  margin-top: 220px;
  padding: 8rem;
  padding-top: 110px;
}

.header-left h1 {
  color: #f3f3f3;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-bottom: 20px;
  text-shadow: 4px 4px 1px black;
}

.header-left h2 {
  margin-bottom: 30px;
  text-shadow: 4px 4px 1px black;
}

.header-left span a {
  display: inline-block;
  text-decoration: none;
  color: #ffd977;
  background-color: #392687;
  /* background-color: #422612; */
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(40, 32, 0, 0.486);
}

.header-right {
  display: grid;
  align-items: center;
  grid-template-columns: 100px 200px;
  grid-template-rows: 130px 120px 120px 120px;
  margin: 180px 100px 200px 100px;
  background-color: #4345c348;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(14, 14, 14, 0.176);
  padding: 20px 50px;
  backdrop-filter: blur(8px);
}

hr {
  border: 1px solid #00000000;
}

.header-right h3 {
  text-align: center;
  grid-column: 1 / 3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.9px;
  word-spacing: 0.1px;
  text-transform: uppercase;
  background-color: rgba(43, 34, 26, 0.317);
  border-radius: 20px;
}

.realtor-img {
  width: 82px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.783);
}

.realtor p {
  color: rgb(241, 241, 241);
  font-weight: 700;
  margin-top: 8px;
  font-size: 20px;
}

.realtor span {
  font-size: 12px;
  color: #aeaeae;
}

/* SZEKCIÓK ------------------------- */

.quotes {
  background: white;
  color: #666;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 240px 240px;
  column-gap: 150px;
  row-gap: 100px;
  align-content: center;
  justify-content: center;
  padding: 210px 0 190px 0;
}

.quotes div {
  box-shadow: 0px 0px 30px rgba(51, 51, 51, 0.128);
  padding: 28px;
  /* border: 4px solid rgb(247, 247, 247); */
}

h4 {
  margin-bottom: 12px;
  font-size: 20px;
  color: rgb(39, 39, 39);
}

.quotes p {
  color: #3c3c3c;
  font-size: 14px;
  letter-spacing: 0.3px;
  word-spacing: 1px;
}

.customer {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.customer-content {
  width: 80%;
  height: 500px;
  padding: 170px 120px 20px 400px;
  background-image: linear-gradient(#422612, #251503);
}

.customer-content h4 {
  color: #f4b20a;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 20px;
}

.customer-content p {
  color: #f4b20a;
  font-size: 14px;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  font-style: italic;
  font-weight: 600;
  margin-left: 10px;
}

.customer-left {
  background-image: linear-gradient(#f4b20a, #f4b20a);
  width: 40%;
}

#story-img {
  height: 600px;
  position: absolute;
  top: -50px;
  left: 0;
  border-radius: 0px 20px 20px 0px;
}

.bottom {
  width: 100%;
  height: 200px;
  background-color: #fff;
}

/* LÁBLÉC ---------------------------- */

footer {
  height: 120px;
  display: block;
  background: #28176c;
  border-top: 1px solid #bbbbbb00;
}

footer p {
  display: block;
  margin: 30px 0px 30px 30px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  word-spacing: 1.3px;
  color: rgb(255, 255, 255);
}
